

/* BLOCCO LEZIONI */

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}


/*versione desktop*/
@media all and (min-width: 992px){
  [class*="col-lg-"]{
    margin: 80px auto;
  }

  img{
    height: 200px;
  }

}

/*versione tablet*/
@media all and (min-width: 769px) and (max-width: 991px) {
  .row{
    width: 90%;
    margin: auto;
  }

  [class*="col-md-"]{
    margin: 50px auto;
  }

  img {
    height: 150px;
  }

}

/*versione smartphone*/
@media all and (max-width: 768px){
  .row{
    width: 90%;
    margin: auto;
  }
  
  [class*="col-xs-"]{
    float: none;
    margin: 30px auto;
  }

  img {
    height: 100px;
  }

}